* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background-position: center;
    background-size: cover;
}

.nav_bar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon_des {
    width: 200px;
    float: left;
    height: 70px;
}

.logo1 {
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.logo1 a {
    color: #ff7200;
    text-decoration: none;
}

.tabs {
    width: 400px;
    float: left;
    height: 70px;
    padding-left: 70px;
}

#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.blog-heading {
    display: flex;
    justify-content: center;
    align-items: column;
    flex-direction: column;
}

.blog-heading h1 {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    font-size: 5rem;
    font-weight: 600;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box {

    width: 350px;
    background-color: #fff;
    border: 1px solid #ececec;
    margin: 20px;
}

.blog-img {
    width: 100%;
    height: auto;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;

}



.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}

.blog-text .blog-title:hover {
    color: #f33c3c;
    transition: all ease 0.3s;
}

.blog-text p {
    color: #9b9b9b;
    font-size: 1.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.blog-text a {
    text-decoration: none;
    color: #0f0f0f;
    font-size: 2rem;
    font-family: verdana, arial, helvet;
    font-weight: bold;
}

.blog-text a:hover {
    color: #f33c3c;
    transition: all ease 0.3s;
}

.blog-box:hover {
    transition: all 0.5s ease;
    /* width:370px; */
    /* height: 250px; */
}

.btn-div ul li {
    list-style: none;
    margin: 10px 10px;
    width: 100px;
    height: 20px;

}

.btn-div ul li a {

    text-decoration: none;
    font-size: 1.9rem;
    background-color: white;
    padding: 10px 10px;

    color: black;
}

.btn-div ul li a:hover {

    background-color: rgb(164, 211, 255);
    /* width:150px; */
    transition: all .5s;


}